body {
    main {
        grid-column-start: span 12;

        form{
            fieldset {
                display: grid;
                grid-template-rows: 4fr 1fr;
                
                .form-inputs * {
                    display: block;
                }
               
            }
        }
        
    }
    aside {
        grid-column-start: span 12;
        display: block;
        p{
            text-align: center;
        }
        nav{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
}