body {
    main {
        grid-column-start: span 12;
    }

    aside {
        grid-column-start: span 12;
        display: block;
        p{
            text-align: center;
        }
        nav{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
}