body {
    main {
        grid-column-start: span 9;

        form {
            fieldset {
                display: grid;
                grid-template-rows: 2fr 1fr;
                
            }
        }
    }

    aside {
        grid-column-start: span 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
            height: 2em;
            align-self: center;
        }
        nav {
            ul {
                li {
                    
                }
            }
        }
    }
}