[submodule "Just-Alkaide"]
	path = Submodulo
	url = https://github.com/Just-Alcaide/Subm-dulo1.git
[submodule "pokemon"]
	path = practica-lista-compra/src/pokemon
	url = https://github.com/fanzeyi/pokemon.json.git
