li {
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0 0 0 / 10%);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 0.2s ease-in-out;
}

li:hover {
    transform: scale(1.02);
}

h3 {
    font-family: var(--font-serif);
    color: var(--primary-color);
    font-size: 1.2rem;
}

p {
    color: var(--secondary-color);
    font-size: 0.9rem;
}

.visit-club-button {
    background-color: #a67c52;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 18px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 3px 6px rgba(166 124 82 / 30%);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.visit-club-button:hover {
    background-color: #8b6f54;
    transform: scale(1.06);
    box-shadow: 0 5px 10px rgba(166 124 82 / 40%);
}
