body {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightyellow;
}

@media screen and (max-width: 768px) {
    #cabecera {
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }

    main {
        padding-left:20px;
        padding-right: 20px;
    }

    #subcabecera {
        flex-direction: column;
        align-items: flex-start;
    }
    #lista2 {
            display: flex;
            flex-direction: column;
            text-align: center;
            list-style-type: none;
            
    }
}

@media screen and (min-width: 769px) {
    #cabecera {
        grid-template-columns: 2fr 1fr;
        padding-bottom: 20px;
    }

    main {
        padding-left: 100px;
        padding-right: 100px;
    }

    #subcabecera {
        display: flex;
        flex-direction: row;
        align-items:center;
    }
    #lista2 {
        display: flex;
        text-align: center;
        list-style-type: none;
}
}

#cabecera  {
    background: aquamarine;
    display: grid;
    justify-content: space-evenly;
    

    #login {
        background-color: lightgray;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        color: blue;

        #legend-login {
            display: inline-block;
            border-style: dotted;
            background-color: lightyellow;
        }
    }
    
    #subscribete {
        background-color: lightgray;
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        color: blue;

        #legend-subscribete {
            display: inline-block;
            border-style: dotted;
            background-color: lightyellow;
        }
    }
}


#subcabecera {
    display:flex;
    list-style-type: none;
    background-color: aliceblue;
    border-style: inset;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; 

    #inicio {
        margin-right: 25px;
    }
    
    #tabla {
        margin-right: 25px;
    }
    
    #en-construccion {
        margin-right: 25px;
    }   
}

main {
    text-align: center;
    border-style: double;
    background-color: aliceblue;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: lightyellow;
    margin-top: 10px;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: lightyellow;
    margin-top: 10px;

    #imagen1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

#noticias-relacionadas {
    display: inline;
    margin-left: 30px;
    margin-right: 30px;

    #lista2 {
        padding-right: 40px;

        #noticia2 {
            border: 1px solid;
            margin: 5px;
            background-color: lightgray;
        }
        #imagen2 {
            border: 1px solid;
            margin: 10px;
            width: 50%;
        }
        #noticia3 {
            border: 1px solid;
            margin: 5px;
            background-color: lightgray;
        }
        #imagen3 {
            
            border: 1px solid;
            margin: 10px;
            width: 50%;
        }
    }
}

#comentarios {
    border: 1px solid;
    padding: 20px;
    background-color: lightgray;
}

#pie-de-pagina {
    color: white;
    background-color: black;
    border: 1px solid;
    text-align: center;
}

input[type=text] {
    border: 2px solid aquamarine;
    background-color: lightyellow;
}

input[type=password] {
    border: 2px solid aquamarine;
    background-color: lightyellow;
}
