header {
    grid-column-start: span 12;
    
}

main{
    grid-column-start: span 12;
    flex-direction: column;
}

aside {
    grid-column-start: span 12;
    ul {
        flex-direction: column;
    }
}

footer {
    grid-column-start: span 12;
}